html
  body
  div(style='height:300px; width:100%;background-color:#e2e2e2; text-align:center; padding-top:50px') 
   p(style='font-size:30px;') NGUYỄN TẤN ĐẠT 17110119
   p THANH TOÁN VỚI STRIPE.

    form(action="/pay", method="post")
      article
        label số tiền: $10.00
      script(
        src="//checkout.stripe.com/v2/checkout.js",
        class="stripe-button",
        data-key='pk_test_hs4n6wX6Olzr6zllFqE32P8m00USs4v8po',
        data-locale="auto",
        data-description="Sample payment",
        data-amount="1000")
      
